*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*section 1 style*/

.section1{
  display:flex;
  width: 100%;
}

.section1-child{
 width: 50%;
}

.S1C1{
  padding: 180px 0px 100px 80px ;
}

.S1C2{
  padding: 80px 100px 100px 20px;
}

.section1-child img{
  width: 100%;
}

h1 span{
  color: #ff4747;
}

h1{
  font-size: 50px;
  color: rgb(107, 105, 105);
  font-weight: 900;
}

.section1-child p{
  color: gray;
  margin-top: 30px;
  margin-bottom: 40px;
}

.top-btn{
  background: linear-gradient(rgb(250, 132, 191),tomato);
  border-radius: 50px;
  border: none;
  width: 170px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.top-btn:hover{
  cursor: pointer;
  color: gray;
  box-shadow: 10px 10px 40px gray;
}

/* section 2 style*/

.section2{
  display:flex;
  width: 100%;
  background-image: url(eat-healthy-main/images/shapes/7.png);
}

.section2-child{
  width: 50%;
}

.section2-child img{
  width: 45%;
  padding-top: 50px;
}

.S2C1{
  text-align: center;
}


.S2C2-child{
  padding: 100px 120px 50px 60px;
}


h2{
  font-size:40px ;
  color: rgb(107, 105, 105);
  font-weight: 900;
  margin-bottom: 30px;
}

.second-btn{
  background: linear-gradient(tomato ,rgb(250, 132, 191) );
  border-radius: 50px;
  border: none;
  width: 170px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-top: 70px;
}

.second-btn:hover{
  cursor: pointer;
  color: gray;
  box-shadow: 10px 10px 40px gray;
}
